<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>회사 정보 수정</title>
</head>

<body>
<div layout:fragment="content" class="container-xxl bg-white p-0">
    <div class="container">
        <h1>회사 정보 수정</h1>
        <form th:action="@{/company/update}" th:object="${company}" method="post">
            <div class="form-group">
                <label for="compId">회사 ID:</label>
                <input type="text" id="compId" th:field="*{compId}" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label for="email">이메일:</label>
                <input type="email" id="email" th:field="*{email}" class="form-control" required="required"/>
            </div>
            <div class="form-group">
                <label for="companyName">회사명:</label>
                <input type="text" id="companyName" th:field="*{companyName}" class="form-control" required="required"/>
            </div>
            <div class="form-group">
                <label for="businessNumber">사업자 등록번호:</label>
                <input type="text" id="businessNumber" th:field="*{businessNumber}" class="form-control" required="required"/>
            </div>
            <div class="form-group">
                <label for="homepage">홈페이지:</label>
                <input type="url" id="homepage" th:field="*{homepage}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="address">주소:</label>
                <input type="text" id="address" th:field="*{address}" class="form-control" required="required"/>
            </div>
            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">수정 완료</button>
                <a th:href="@{/company/detail}" class="btn btn-secondary">취소</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>