<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>View Resume</title>

</head>

<body>
<div layout:fragment="content" class="container">
    <h1 class="mt-5">이력서 상세 정보</h1>
    <div class="card">
        <div class="card-header">
            <h2 th:text="${resume.title}"></h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3 mt-3" style="text-align: center;">
                    <img th:src="${resume.filePath}" alt="" style="width: 80%; height: 100%; display: inline-block;" id="photo">

                </div>
                <div class="col-9">
                    <p><strong>이름:</strong> <span th:text="${resume.jobSeekerVo.name}"></span></p>
                    <p><strong>Email:</strong> <span th:text="${resume.jobSeekerVo.email}"></span></p>
                    <p><strong>연락처:</strong> <span th:text="${resume.jobSeekerVo.tel}"></span></p>
                    <p><strong>주소:</strong> <span th:text="${resume.jobSeekerVo.address}"></span></p>
                    <p><strong>학력:</strong> <span th:text="${resume.education}"></span></p>
                    <p><strong>경력:</strong> <span th:text="${resume.experience}"></span></p>
                    <p><strong>링크:</strong> <a th:href="${resume.link}" target="_blank" th:text="${resume.link}"></a></p>
                    <p><strong>자기소개서:</strong></p>
                    <p th:text="${resume.content}"></p>
<!--                    <p><strong>조회수:</strong> <span th:text="${resume.hitNo}"></span></p>-->
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a th:href="@{/resume/{resumeId}/edit(resumeId=${resume.resumeId})}" class="btn btn-warning">수정</a>
            <form th:action="@{/resume/{resumeId}/delete(resumeId=${resume.resumeId})}" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
            </form>
            <a th:href="@{/resume/list}" class="btn btn-secondary">목록으로</a>
        </div>
    </div>
</div>
</body>
</html>
