<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Resume List</title>
</head>
<body>

<div layout:fragment="content" class="container">
    <h1 class="mt-5">이력서 목록</h1>
    <div class="mb-3">
        <a th:href="@{/resume/save}" class="btn btn-primary">이력서 작성</a>
    </div>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>이력서 번호</th>
            <th>이름</th>
            <th>제목</th>
            <th>이메일</th>
            <th>연락처</th>
            <th>학력</th>
            <th>경력</th>
            <th>기술</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resume : ${resumeList}">
            <td th:text="${resume.resumeId}"></td>
            <td th:text="${resume.jobSeekerVo.name}">홍길동</td>
            <td th:text="${resume.title}">제목</td>
            <td th:text="${resume.jobSeekerVo.email}">example@email.com</td>
            <td th:text="${resume.jobSeekerVo.tel}">010-0000-0000</td>
            <td th:text="${resume.education}">학력</td>
            <td th:text="${resume.experience}">경력</td>
            <td th:text="${resume.skills}">기술</td>
            <td>
                <a th:href="@{/resume/detail/{resumeId}(resumeId=${resume.resumeId})}" class="btn btn-info">보기</a>
                <a th:href="@{/resume/update/{id}(id=${resume.resumeId})}" class="btn btn-warning">수정</a>
                <form th:action="@{/resume/delete/{resumeId}(resumeId=${resume.resumeId})}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
                    <button type="submit" class="btn btn-danger">삭제</button>
                </form>
                <form th:action="@{/resume/updateVisibility}" method="post">
                    <input type="hidden" name="resumeId" th:value="${resume.resumeId}" />
                    <select name="visibilityStatus">
                        <option value="PUBLIC" th:selected="${resume.visibilityStatus == 'PUBLIC'}">공개</option>
                        <option value="PRIVATE" th:selected="${resume.visibilityStatus == 'PRIVATE'}">비공개</option>
                    </select>
                    <button type="submit">상태 변경</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
