<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">

    <title>관리자 페이지</title>
</head>

<body>
<div layout:fragment="content" class="container-xxl bg-white p-0">
    <div class="container">
        <h1>관리자 페이지</h1>
        <nav>
            <ul>
                <li><a th:href="@{/admin/manageUsers}">사용자 관리</a></li>
                <li><a th:href="@{/admin/viewReports}">보고서 보기</a></li>
                <li><a th:href="@{/member/logout}">로그아웃</a></li>
            </ul>
        </nav>

        <section>
            <h2>환영합니다, 관리자님!</h2>
            <p>여기에서 시스템을 관리할 수 있습니다.</p>
        </section>
    </div>
</div>
</body>
</html>
