<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Login Page</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
<button class="adminJoin" onclick="location.href='/member/adminJoin'">
</button>
<div class="container" id="container">
    <header class="header">
        <button class="home-button" onclick="location.href='/'">
            <i class="fas fa-home"></i>
        </button>
    </header>
    <div class="form-container sign-up-container">
        <form th:action="@{/member/action}" method="post" onsubmit="return validateLogin('company')">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <h1>Enterprise</h1>
            <input type="hidden" name="userType" value="company">
            <div th:replace="~{common/fragments :: social-links}"></div>
            <span>or use your email for login</span>
            <input type="text" name="username" placeholder="Company ID" id="enterpriseId"/>
            <input type="password" name="password" placeholder="Password"/>
            <div th:replace="~{common/fragments :: links-container}"></div>
            <div th:replace="~{common/fragments :: primary-button('Sign In')}"></div>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form th:action="@{/member/action}" method="post" onsubmit="return validateLogin('jobSeeker')">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <h1>Individual</h1>
            <input type="hidden" name="userType" value="jobSeeker">
            <div th:replace="~{common/fragments :: social-links}"></div>
            <span>or use your account</span>
            <input type="text" name="username" placeholder="Job Seeker ID" id="individualId"/>
<!--            <input type="text" name="username" placeholder="Job Seeker ID" id="individualId" value="koko3"/>-->
            <input type="password" name="password" placeholder="Password"/>
<!--            <input type="password" name="password" placeholder="Password" value="1q2w3e4r!"/>-->

            <div th:replace="~{common/fragments :: links-container}"></div>
            <div th:replace="~{common/fragments :: primary-button('Sign In')}"></div>
        </form>
    </div>

    <!-- 관리자 로그인 폼 추가 -->
    <div class="form-container admin-container">
        <form th:action="@{/member/login}" method="post" onsubmit="return validateAdminLogin()">
            <h1>Admin</h1>
            <div th:replace="~{common/fragments :: social-links}"></div>
            <span>or use your admin account</span>
            <input type="text" name="adminId" placeholder="Admin ID"/> <!-- 관리자 ID -->
            <input type="password" name="password" placeholder="Password"/> <!-- 비밀번호 -->
            <div th:replace="~{common/fragments :: links-container}"></div>
            <div th:replace="~{common/fragments :: primary-button('Sign In')}"></div>
        </form>
    </div>

    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Hello! Developer</h1>
                <p>Are you ready to become a top developer?</p>
                <div th:replace="~{common/fragments :: ghost-button('Turn the page', 'Enterprise signIn')}"></div>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Businessman!</h1>
                <p>Click the button to proceed to corporate login</p>
                <div th:replace="~{common/fragments :: ghost-button('Turn the page', 'Individual signIn')}"></div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/login.js}"></script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var errorMessage = [[${errorMessage}]];
        var errorType = [[${errorType}]];
        var message = [[${message}]];

        if (errorMessage) {
            Swal.fire({
                title: '오류!',
                text: errorMessage,
                icon: 'error',
                confirmButtonText: '확인'
            });
        } else if (message) {
            Swal.fire({
                title: '알림',
                text: message,
                icon: 'success',
                confirmButtonText: '확인'
            });
        }
    });
</script>
</body>
</html>