<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>
<h1>여기는 index.html 타임리프 페이지입니다.</h1>
<div>
    <h2>인증된 사용자 정보</h2>
    <p th:if="${#authentication.principal != null}">
        사용자 아이디: <span th:text="${#authentication.principal.username}"></span><br/>
        사용자 이름: <span th:text="${#authentication.principal.name}"></span><br/>
        사용자 권한: <span th:each="auth : ${#authentication.principal.authorities}" th:text="${auth.authority}">ROLE_USER</span><br/>
    </p>
    <p th:if="${#authentication.principal == null}">
        현재 인증된 사용자가 없습니다.
    </p>
</div>
</body>
</html>
