<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="utf-8">
    <title>JobEntry - Job Portal Website Template</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div layout:fragment="content" class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>

        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div th:each="jobPost : ${jobPosts}" class="job-item p-4 mb-4">
                    <div class="row g-4">
                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                            <!-- 로고 이미지 경로 업데이트 -->
                            <img class="flex-shrink-0 img-fluid border rounded"
                                 th:src="@{/upload/{logoName}(logoName=${jobPost.logoName})}" alt="Company Logo"
                                 style="width: 80px; height: 80px;">
                            <div class="text-start ps-4">
                                <h5 class="mb-3" th:text="${jobPost.title}">Job Title</h5>
                                <span class="text-truncate me-3"><i
                                        class="fa fa-map-marker-alt text-primary me-2"></i><span
                                        th:text="${jobPost.address}">Location</span></span>
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i><span
                                        th:text="${jobPost.salary}">Salary</span></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                            <div class="d-flex mb-3">
                                <a class="btn btn-light btn-square me-3 scrap-button"
                                   sec:authorize="hasRole('ROLE_USER')"
                                   th:classappend="${scrapStatusMap[jobPost.jobPostId] != null and scrapStatusMap[jobPost.jobPostId] ? 'scrap-active' : ''}"
                                   th:href="@{#}"
                                   th:data-jobpostid="${jobPost.jobPostId}"
                                   onclick="toggleScrap(event)">
                                    <i class="far fa-heart text-primary"></i>
                                </a>
                                <a class="btn btn-primary"
                                   th:href="@{/jobPost/detail/{jobPostId}(jobPostId=${jobPost.jobPostId})}">보기</a>
                            </div>
                            <small class="text-truncate">
                                <i class="far fa-calendar-alt text-primary me-2"></i>
                                <span th:text="${#dates.format(jobPost.endDate, 'yyyy-MM-dd')}"></span> 마감
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-primary py-3 px-5" th:href="@{/jobPost/jobPostCreate}"
           sec:authorize="hasRole('ROLE_COMPANY')">공고 등록하기</a>
    </div>
</div>

</body>
</html>
