<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javalab.board.repository.BlacklistMapper">

    <insert id="addBlacklist" parameterType="com.javalab.board.dto.BlacklistDto">
        <selectKey keyProperty="blackId" resultType="long" order="BEFORE">
            SELECT BLACKLIST_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO blacklist (black_id, jobSeeker_id, comp_id, reason, blacklist_date, is_blacklisted, type)
        VALUES (#{blackId}, #{jobSeekerId,jdbcType=VARCHAR}, #{compId,jdbcType=VARCHAR},
        #{reason,jdbcType=VARCHAR}, #{blacklistDate,jdbcType=TIMESTAMP},
        #{isBlacklisted,jdbcType=NUMERIC}, #{type,jdbcType=VARCHAR})
    </insert>

    <update id="updateBlacklist" parameterType="com.javalab.board.dto.BlacklistDto">
        UPDATE blacklist
        SET is_blacklisted = #{isBlacklisted,jdbcType=NUMERIC},
        reason = #{reason,jdbcType=VARCHAR}
        WHERE
        (jobSeeker_id = #{jobSeekerId,jdbcType=VARCHAR} AND type = #{type,jdbcType=VARCHAR})
        OR (comp_id = #{compId,jdbcType=VARCHAR} AND type = #{type,jdbcType=VARCHAR})
    </update>

    <select id="getBlacklistStatus" resultType="com.javalab.board.dto.BlacklistDto">
        SELECT * FROM (
        SELECT * FROM blacklist
        WHERE
        (jobSeeker_id = #{id,jdbcType=VARCHAR} AND type = 'jobSeeker')
        OR (comp_id = #{id,jdbcType=VARCHAR} AND type = 'company')
        ORDER BY blacklist_date DESC
        ) WHERE ROWNUM = 1
    </select>

    <select id="getAllBlacklist" resultType="com.javalab.board.dto.BlacklistDto">
        SELECT * FROM blacklist ORDER BY blacklist_date DESC
    </select>

    <select id="getActiveBlacklist" resultType="com.javalab.board.dto.BlacklistDto">
        SELECT * FROM blacklist WHERE is_blacklisted = 1 ORDER BY blacklist_date DESC
    </select>

<!--    black list 아이콘 오류 해결중-->
    <select id="getIsBlacklisted" resultType="java.lang.Integer">
        SELECT is_blacklisted
        FROM blacklist
        WHERE comp_id = #{compId}
    </select>

    <update id="updateBlacklistStatus">
        UPDATE blacklist
        SET is_blacklisted = #{newStatus},
        reason = #{reason}  <!-- 블랙리스트 사유를 업데이트 (필요에 따라) -->
        WHERE comp_id = #{compId}
    </update>


    <delete id="deleteBlacklist">
        DELETE FROM blacklist
        WHERE (jobSeeker_id = #{jobSeekerId} AND comp_id IS NULL)
        OR (comp_id = #{compId} AND jobSeeker_id IS NULL)
    </delete>

</mapper>