<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼XML : Employees 에 대한 모든 쿼리문 보관 -->
<mapper namespace="com.javalab.board.repository.CompanyMapper">

    <insert id="insertCompany" parameterType="com.javalab.board.vo.CompanyVo">
        INSERT INTO company (
        comp_id,
        password,
        email,
        company_name,
        business_number,
        homepage,
        logo_name,
        logo_path,
        address,
        status
        ) VALUES (
        #{compId},
        #{password},
        #{email},
        #{companyName},
        #{businessNumber},
        #{homepage, jdbcType=VARCHAR},
        #{logoName, jdbcType=VARCHAR},
        #{logoPath, jdbcType=VARCHAR},
        #{address, jdbcType=VARCHAR},
        #{status}
        )
    </insert>

    <!-- 회사 ID로 회사 정보를 조회하는 쿼리 -->
    <select id="selectCompanyById" parameterType="String" resultType="com.javalab.board.vo.CompanyVo">
        SELECT * FROM company WHERE comp_id = #{compId}
    </select>


    <!-- 권한 삽입 -->
    <insert id="insertCompanyRole" parameterType="com.javalab.board.vo.UserRolesVo">
        INSERT INTO UserRoles (
        user_id,
        user_type,
        role_id
        ) VALUES (
        #{userId},
        #{userType},
        #{roleId}
        )
    </insert>

    <!-- 권한 조회 -->
    <select id="selectCompanyRole" parameterType="String" resultType="com.javalab.board.vo.UserRolesVo">
        SELECT
        user_id AS userId,
        user_type AS userType,
        role_id AS roleId
        FROM UserRoles
        WHERE user_id = #{userId} AND user_type = 'company'
    </select>

    <!-- 권한 업데이트 -->
    <update id="updateCompanyRole" parameterType="com.javalab.board.vo.UserRolesVo">
        UPDATE UserRoles
        SET
        role_id = #{roleId}
        WHERE user_id = #{userId} AND user_type = 'company'
    </update>

    <!-- 권한 삭제 -->
    <delete id="deleteCompanyRole" parameterType="com.javalab.board.vo.UserRolesVo">
        DELETE FROM UserRoles
        WHERE user_id = #{userId} AND user_type = 'company'
    </delete>

</mapper>