<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalab.board.repository.JobPostMapper">

    <insert id="insertJobPost" parameterType="com.javalab.board.vo.JobPostVo">
        <selectKey keyProperty="jobPostId" resultType="long" order="BEFORE">
            SELECT JOBPOST_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO JOBPOST (
        jobPost_id, title, content, education, address, salary, end_date, hit_no, created, comp_id
        ) VALUES (
        #{jobPostId}, #{title}, #{content}, #{education}, #{address, jdbcType=VARCHAR}, #{salary, jdbcType=VARCHAR}, #{endDate}, 0, SYSDATE, #{compId}
        )
    </insert>



    <select id="getJobPostById" resultType="com.javalab.board.vo.JobPostVo">
        SELECT * FROM jobPost WHERE jobPost_id = #{jobPostId}
    </select>

    <select id="getAllJobPosts" resultType="com.javalab.board.vo.JobPostVo">
        SELECT * FROM jobPost
    </select>

    <select id="selectJobPostsByCompany" parameterType="String" resultType="com.javalab.board.vo.JobPostVo">
        SELECT * FROM jobPost
        WHERE comp_id = #{compId}
    </select>



</mapper>
