<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalab.board.repository.JobSeekerMapper">


    <!-- 개인 회원 정보 삽입 -->
    <insert id="insertJobSeeker" parameterType="com.javalab.board.vo.JobSeekerVo">
        INSERT INTO jobSeeker (
        jobSeeker_id,
        password,
        name,
        birth,
        tel,
        email,
        address,
        file_name,
        file_path
        ) VALUES (
        #{jobSeekerId, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{name, jdbcType=VARCHAR},
        #{birth, jdbcType=DATE},
        #{tel, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{address, jdbcType=VARCHAR},
        #{fileName, jdbcType=VARCHAR},
        #{filePath, jdbcType=VARCHAR}
        )
    </insert>

    <!-- 권한 삽입 -->
    <insert id="insertJobSeekerRole" parameterType="com.javalab.board.vo.UserRolesVo">
        INSERT INTO UserRoles (
        user_id,
        user_type,
        role_id
        ) VALUES (
        #{userId},
        #{userType},
        #{roleId}
        )
    </insert>

    <!-- 개인 회원 정보 조회 -->
    <select id="selectJobSeekerById" parameterType="String" resultType="com.javalab.board.vo.JobSeekerVo">
        SELECT
        jobSeeker_id AS jobSeekerId,
        password,
        name,
        birth,
        tel,
        email,
        address
        FROM jobSeeker
        WHERE jobSeeker_id = #{jobSeekerId}
    </select>

    <!-- 권한 조회 -->
    <select id="selectJobSeekerRole" parameterType="String" resultType="com.javalab.board.vo.UserRolesVo">
        SELECT
        user_id AS userId,
        user_type AS userType,
        role_id AS roleId
        FROM UserRoles
        WHERE user_id = #{userId} AND user_type = 'jobSeeker'
    </select>

    <!-- 개인 회원 정보 갱신 -->
    <update id="updateJobSeeker" parameterType="com.javalab.board.vo.JobSeekerVo">
        UPDATE jobSeeker
        SET
        password = #{password},
        name = #{name},
        birth = #{birth, jdbcType=DATE},
        tel = #{tel},
        email = #{email},
        address = #{address}
        WHERE jobSeeker_id = #{jobSeekerId}
    </update>

    <!-- 권한 업데이트 -->
    <update id="updateJobSeekerRole" parameterType="com.javalab.board.vo.UserRolesVo">
        UPDATE UserRoles
        SET
        role_id = #{roleId}
        WHERE user_id = #{userId} AND user_type = 'jobSeeker'
    </update>

    <!-- 개인 회원 정보 삭제 -->
    <delete id="deleteJobSeeker" parameterType="String">
        DELETE FROM jobSeeker
        WHERE jobSeeker_id = #{jobSeekerId}
    </delete>

</mapper>
