<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.javalab.board.repository.ResumeMapper">

    <insert id="createResume" parameterType="com.javalab.board.dto.ResumeDto">
        <selectKey keyProperty="resumeId" resultType="int" order="BEFORE">
        SELECT RESUME_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO resume (resume_id, jobSeeker_id, title, content ,education , experience , link ,file_name,file_path)
        VALUES (#{resumeId}, #{jobSeekerId}, #{title}, #{content} ,#{education} , #{experience} ,#{link} ,#{fileName}, #{filePath})
    </insert>

<!--    find all + skill-->
    <select id="findAll" resultMap="ResumeWithJobSeekerMap">
        SELECT
        r.resume_id,
        r.title,
        r.content,
        r.education,
        r.experience,
        r.link,
        r.file_name,
        r.file_path,
        r.visibility_status,
        j.jobseeker_id,
        j.name,
        j.email,
        j.tel,
        j.birth,
        j.address,
        rs.skill
        FROM
        resume r
        JOIN
        jobseeker j ON r.jobseeker_id = j.jobseeker_id
        LEFT JOIN
        resumeskill rs ON r.resume_id = rs.resume_id
        WHERE
        j.jobseeker_id = #{jobSeekerId}
        ORDER BY
        r.resume_id ASC
    </select>

    <resultMap id="ResumeWithJobSeekerMap" type="com.javalab.board.dto.ResumeDto">
        <id property="resumeId" column="resume_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="education" column="education"/>
        <result property="experience" column="experience"/>
        <result property="link" column="link"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="visibilityStatus" column="visibility_status"/>

        <!-- JobSeekerVo 객체의 필드 매핑 -->
        <association property="jobSeekerVo" javaType="com.javalab.board.vo.JobSeekerVo">
            <id property="jobSeekerId" column="jobseeker_id" jdbcType="VARCHAR"/>
            <result property="name" column="name"/>
            <result property="email" column="email"/>
            <result property="tel" column="tel"/>
            <result property="birth" column="birth"/>
            <result property="address" column="address"/>
        </association>
        <collection property="skills" ofType="java.lang.String">
            <result column="skill"/>
        </collection>
    </resultMap>


    <resultMap id="ResumeDtoMap" type="com.javalab.board.dto.ResumeDto">
        <id property="resumeId" column="resume_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="education" column="education"/>
        <result property="experience" column="experience"/>
        <result property="link" column="link"/>
        <result property="hitNo" column="hit_no"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>

        <association property="jobSeekerVo" javaType="com.javalab.board.vo.JobSeekerVo">
            <id property="jobSeekerId" column="jobseeker_id"/>
            <result property="name" column="name"/>
            <result property="email" column="email"/>
            <result property="tel" column="tel"/>
            <result property="address" column="address"/>
            <result property="filePath" column="file_path"/>
        </association>
        <collection property="skills" ofType="java.lang.String">
            <result column="skill"/>
        </collection>
    </resultMap>

    <select id="findById" resultMap="ResumeDtoMap">
        select r.*, j.*, rs.*
        from resume r
        JOIN jobseeker j ON r.jobseeker_id = j.jobseeker_id
        LEFT JOIN resumeskill rs ON r.resume_id = rs.resume_id
        where r.resume_id = #{resumeId}
    </select>


    <update id="updateResume" parameterType="com.javalab.board.dto.ResumeDto">
        UPDATE resume
        SET
        title = #{title},
        content = #{content},
        link = #{link},
        file_name = #{fileName , jdbcType=VARCHAR},
        file_path = #{filePath , jdbcType=VARCHAR}
        WHERE resume_id = #{resumeId}
    </update>

    <delete id="deleteResume">
        delete
        from resume
        where resume_id=#{resumeId}
    </delete>

    <update id="updateResumeVisibility">
        UPDATE resume
        SET visibility_status = #{visibilityStatus}
        WHERE resume_id = #{resumeId}
    </update>


<!--    PUBLIC 유저만 보이게-->
        <select id="findPublicResumes" resultMap="ResumeWithJobSeekerMap">
            SELECT
            r.resume_id,
            r.title,
            r.content,
            r.education,
            r.experience,
            r.link,
            r.file_name,
            r.file_path,
            r.visibility_status,
            j.jobseeker_id,
            j.name,
            j.email,
            j.tel,
            j.birth,
            j.address,
            rs.skill
            FROM
            resume r
            JOIN
            jobseeker j ON r.jobseeker_id = j.jobseeker_id
            LEFT JOIN
            resumeskill rs ON r.resume_id = rs.resume_id
            WHERE
            r.visibility_status = 'PUBLIC'
            ORDER BY
            r.resume_id ASC
        </select>



</mapper>